<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>
        <a routerLink="/personas/add"><i class="fas fa-plus"></i></a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of VM.Listado">
      <td>
        <a [routerLink]="['/personas', item.id, item.nombre + '-' + item.apellidos ]">
          {{item.nombre}} {{item.apellidos}}</a>
      </td>
      <td>
        <button type="button" [routerLink]="['/personas', item.id, 'edit' ]"><i class="fas fa-pen"></i></button>
        <button type="button" (click)="VM.remove(item.id)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
