<div class="row">
  <div class="col-md-4">
    <img class="img-fluid rounded-circle" src="http://placeimg.com/256/256/people/{{VM.Elemento.id}}">
  </div>
  <div class="col-md-8">
    <dl>
      <dt>Código:</dt>
      <dd>{{VM.Elemento.id}}</dd>
      <dt>Nombre:</dt>
      <dd>{{VM.Elemento.nombre}}</dd>
      <dt>Apellidos:</dt>
      <dd>{{VM.Elemento.apellidos}}</dd>
      <dt>Edad:</dt>
      <dd>{{VM.Elemento.edad}}</dd>
    </dl>
  </div>
</div>
<p>
  <input type="button" value="Volver" (click)="VM.cancel()" >
</p>
